<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="user_account_bank01_service"/>

<!--    <dubbo:registry protocol="zookeeper" address="localhost:2181"/>-->
    <dubbo:registry address="nacos://localhost:8848" check="false"/>

    <dubbo:reference timeout="50000000"
                     interface="com.kangqing.tx.tcc.common.api.UserAccountBank02Service"
                     id="userAccountBank02Service" check="false"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo"  port="20880"  threads="1000" />

    <!-- dubbo监控配置 -->
    <dubbo:monitor protocol="registry" />

</beans>